h1 {font-size: 48px;
  text-align: center;
  font-color:white;
}

h2{text-align:center;
  border-bottom: 2px solid black;
}


    .resize {display:block;
  margin-left:auto;
  margin-right:auto;
  width:66%;
  border:10px solid white;
  border-raidus:8px;
 
}


    .small {display:block;
  margin-left:auto;
  margin-right:auto;
  width:5%;
 
}

body{background-color: #e3ded0;
  font-family:Tahoma;
  margin-right:60px;
  margin-left:60px;
}

