
.module {
  background:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(https://images.unsplash.com/photo-1528837516156-0a7225a43641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80);
  background-size:cover;
  width: 712px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  border:10px solid white;
}
.mid h1 {
  position:relative;
  text-align:center;
  top:105px;
  width:100%;
  color: white;
  font-size: 72px;
 float:left;

}


h2{text-align:center;
  border-bottom: 2px solid black;
}


.left{text align:left;
  float:left;
}
.right{text-align:right;
  float:right;
}

    .small {display:block;
  margin-left:auto;
  margin-right:auto;
  width:5%;
 
}

body{background-color: #e3ded0;
  font-family:Arial;
  margin-right:125px;
  margin-left:125px;
}

