h1 {font-size: 48px;
  text-align: center;
}
.resize {text-alighn:center;
  max-height:33%;
  max-width:33%;
}
body{background-color: #e3ded0;
  font-family:Arial;
}

img.resize{max-width:33%;
  max-height:33%;
}
